body {
    font-family: Arial, sans-serif;
    background-color: #CCD5AE;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #FAEDCE;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #FEFAE0;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

#result p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

#detectedLanguage, #translatedText {
    font-weight: bold;
    color: #000;
}
